[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
cryptography = "*"
aiohttp = "*"
aiodns = "*"
flake8 = "*"
flake8-black = "*"
tortoise-orm = "*"
markdown = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-asyncio = "*"
pylint = "*"
jsonschema = "*"
rich = "*"

[requires]
python_version = "3.10"
